*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.hide {
    display: none;
}

.header{
    display: flex;
    align-items: center;
    height: 77px;
    background: linear-gradient(245.19deg, #8D46FF 26.86%, #00BAFE 78.69%);
}

.header__wrapper{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__wrapper_logo{
    font-weight: bold;
    font-size: 48px;
    text-decoration: none;
    color: #FFFFFF;
}

.header__wrapper_btn{
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    height: 37px;
    width: 89px;
    background: #FFFBFB;
    border: none;
    border-radius: 12px;
}

.header__wrapper_btn:hover{
    color: #FFFBFB;
    background: #119fe0;
    transition: 0.3s all;
    box-shadow: #FFFBFB 0px 0px 100px 5px;
}

.main h1 {
    text-align: center;
    margin-top: 38px;
    font-weight: bold;
    font-size: 36px;
    color: #3E3E3E;
}

.main__filter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 572px;
    height: 61px;
    margin: 35px auto 0px auto;
    background: #727070;
    border-radius: 10px;
}

.main__filter_reset{
    font-style: normal;
    font-size: 18px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #fffbfb00;
    border: none;
}

.main__filter_reset:hover{
    cursor: pointer;
}

.main__filter_by{
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main__filter_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 371px;
    height: 44px;
    background: #989898;
    border-radius: 7px;
}

.main__filter_item{
    background-color: #fffbfb00;
    border: none;
    height: 44px;
    width: 100%;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main__filter_item:hover{
    background-color: #2e2e2e;
    border-radius: 7px;
    transition: 0.3s all;
}

select {
    padding-left: 30px;
}
.products{
    position: relative;
    padding-bottom: 80px;
}

.products__wrapper{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 34px;
}

.products__item{
    margin: 35px 0px;
    width: 533px;
    height: 455px;
    background: #005676;
    border: 1px solid #00FFF0;
    box-sizing: border-box;
    border-radius: 15px;
}

.purple__item{
    background-color: #49208A;
    color: black;
}

.products__item_wrapper{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.products__item_leftBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 136px;
    height: 375px;
    background: #0080AF;
    border-radius: 14px;
}

.purple__item .products__item_leftBlock{
    background: #7548BD;
}

.products__item_rightBlock{
    width: 337px;
    height: 375px;
}

.products__item_title{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
    color: #06DFD2;
}

.products__item_text{
    text-align: center;
    margin-top: 15px;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}

.products__item_link{
    display: block;
    text-align: center;
    margin-top: 15px;
    font-weight: 500;
    font-size: 14px;
    text-decoration-line: underline;
    color: #FFFBFB;
}

.products__reviews_title{
    text-align: center;
    margin-top: 39px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFF9F9;
}

.products__reviews_item{
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 313px;
    height: 40px;
    background: #C4C4C4;
    border-radius: 15px;
}

.products__reviews_item img{
    display: block;
    padding: 0px 10px;
}

.products__item_icon{
    width: 100px;
    height: 100px;
    border-radius: 20%;
    display: block;
}

.products__item_company{  
    font-weight: bold;
    font-size: 14px;
    color: #FFF9F9;
}

.products__item_sale{
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
}

.products__item_date{
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
}

.products__item_btnReview{
    width: 89px;
    height: 29px;
    background: #86DD51;
    border: none;
    border-radius: 13px;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    color: #000000;
}

.products__item_btnReview:hover{
    background: #4f8130;
    color: #ffffff;
    border: 1px solid oldlace;
    transition: 0.3s all;
}

.products__item_btnEdit{
    width: 89px;
    height: 29px;
    background: #7CFAF2;
    border: none;
    border-radius: 13px;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    color: #000000;
}

.products__item_btnEdit:hover{
    background: #40928d;
    color: #ffffff;
    border: 1px solid oldlace;
    transition: 0.3s all;
}

.products__item_btnDelete{
    width: 89px;
    height: 29px;
    background: #FF5757;
    border: none;
    border-radius: 13px;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    color: #000000;
}

.products__item_btnDelete:hover{
    background: #a83939;
    color: #ffffff;
    border: 1px solid oldlace;
    transition: 0.3s all;
}

.products__item_footer{
    display: flex;
    margin: 30px auto 0px auto;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: #B8B8B8;
}

.products__item_tags{
    display: flex;
    width: 326px;
    align-items: center;
}

.tag{
    margin-left: 5px;
}

.products__btnAdd{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto 0px auto;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: #00E0FF;
    box-shadow: inset 0px 0px 10px 6px rgba(0, 0, 0, 0.25);
}

.products__btnAdd:hover{
    background: #8effff;
    box-shadow: inset 0px 0px 10px 6px rgba(0, 0, 0, 0.25);
    transition: 0.3s all;
}

.products__btnAdd_img{
    display: block;
}

.products__bg_wrapper{
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: space-between;
    z-index: -100;
    bottom: 0px;
}

.products__bg1{
    display: block;
}

.products__bg2{
    display: block;
}

.footer{
    display: flex;
    align-items: center;
    height: 98px;
    background: #3D3D3D;
}

.footer__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo{
    display: block;
    font-size: 48px;
    font-weight: bold;
    text-decoration: none;
    color: #777777;
}

.footer__info{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 75px;
    justify-content: space-between;
    align-items: center;
}

.footer__info_name{
    font-weight: bold;
    font-size: 14px;
    color: #B6B6B6;
}

.footer__info_name span{
    color: #FFFFFF;
}

.footer__info_group{
    font-weight: bold;
    font-size: 14px;
    color: #B6B6B6;
}

.footer__info_email{
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
}

.footer__info_date{
    font-weight: 500;
    font-size: 12px;
    color: #B6B6B6;
}

/*-----MEDIA-----*/
@media (max-width: 1200px){
    .container{
        width: 800px;
    }

    .products__wrapper {
        margin: 0px auto;
    }
}

@media (max-width: 800px){
    .container{
        width: 600px;
    }

    .products__wrapper {
        margin: 0px auto;
    }

    .products__bg_wrapper{
        display: none;
    }
}

@media (max-width: 600px){
    .container{
        width: 400px;
    }

    .main__filter{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 400px;
        height: 61px;
        margin: 0px auto 0px auto;
        background: #727070;
        border-radius: 10px;
    }

    .main__filter_by{
        font-size: 10px;
    }

    .main__filter_wrapper{
        width: 280px;
    }

    .main__filter_item{
        font-size: 10px;
    }

    .main__filter_reset{
        font-size: 10px;
    }
}

@media (max-width: 480px){
    .container{
        width: 400px;
    }

    .products__item {
        position: relative;
        width: 390px;
        height: 550px;
    }

    .products__item_rightBlock{
        width: 200px;
    }

    .products__reviews_item{
        width: 200px;
    }

    .products__item_footer{
        position: absolute;
        width: 350px;
        font-size: 10px;
        bottom: 10px;
    }

    .products__item_tags{
        width: 250px;
    }
}